@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
/* For WebKit-based browsers */
/* Change the width and color to your desired style */
::-webkit-scrollbar {
  width: 6px;
}

/* Change the background color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Change the color of the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #f1f1f1;
}
/* For WebKit-based browsers */
::-webkit-scrollbar {
  width: 6px;
}

/* For Firefox */
/* Change the width and color to your desired style */
html {
  scrollbar-width: thin;
}

/* Change the color of the scrollbar handle (thumb) in Firefox */
html {
  scrollbar-color:#111111 #f1f1f1;
}
